@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-900 text-white;
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite;
    background-size: 300% 100%;
  }
  
  .bg-300\% {
    background-size: 300% 100%;
  }
}
